<form action="http://localhost:8080/api/productos" method="post">
      <input type="text" name="title" placeholder="Producto" required>
      <input type="number" name="price" placeholder="Precio" required>
      <input type="text" name="type" placeholder="Tipo" required>
      <button>Send</button>
</form>

<form id="messageForm">
      <input id="email" type="email" name="name" placeholder="email" required>
      <ul id="listMessage">
      </ul>
      <input id="message" type="text" name="price" placeholder="mensaje" required>
      <button>Send</button>
</form>